body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  overflow-x: hidden;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-header {
  text-align: center;
  margin-top: 20px;
}

.header-links {
  font-size: 17px;
  font-weight: 400;
}

.header-links:hover {
  background-color: #fff;
  padding: 0 5px 5px 5px;
  color: #8c7b75;
}

.book-list {
  background-color: white;
  margin: 20px auto 20px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow: 
  /* The top layer shadow */
  0 1px 1px rgba(0,0,0,0.15),
  /* The second layer */
  0 10px 0 -5px #EEE,
  /* The second layer shadow */
  0 10px 1px -4px rgba(0,0,0,0.15),
  /* The third layer */
  0 20px 0 -10px #EEE,
  /* The third layer shadow */
  0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 20px;

}

.book-list ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0 30px 0;
  width: 100%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

.book-list ul li:hover, .book-list ul li:focus {
  background-color: whitesmoke;
  padding-left: 15px;
}

.author-list {
  background-color: white;
  margin: 20px auto 20px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow: 
  /* The top layer shadow */
  0 1px 1px rgba(0,0,0,0.15),
  /* The second layer */
  0 10px 0 -5px #EEE,
  /* The second layer shadow */
  0 10px 1px -4px rgba(0,0,0,0.15),
  /* The third layer */
  0 20px 0 -10px #EEE,
  /* The third layer shadow */
  0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 20px;

}

.author-list ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0 30px 0;
  width: 100%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

.author-list ul li:hover, .author-list ul li:focus {
  background-color: whitesmoke;
  padding-left: 15px;
}

@media screen and (max-width: 767px){

  .book-list {
    width: 100%;
  }

  .author-list {
    width: 100%;
  }

}

.mdi-icon {
  color: #bcaaa4;
  font-size: 14px;
  align-content: center;
}

.app-icon:hover {
  color: #8c7b75;
} 

.add {
  margin: 100px 100px 0px 100px;
}

@media screen and (max-width: 767px){

  .add {
    margin: 100px 10px 0px 10px;
  }

}

.abook {
  margin-top: 100px;
}

.anauthor {
  margin-top: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}